flows.json
[
    {
        "id": "d2c2d27c482a01ee",
        "type": "mqtt in",
        "z": "b9844a0745663442",
        "name": "MQTT from ESP32",
        "topic": "esp32/sensors",
        "qos": "2",
        "datatype": "json",
        "broker": "b5140a7562818ccf",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "c1e52dc1747076fa"
            ]
        ]
    },
    {
        "id": "c1e52dc1747076fa",
        "type": "function",
        "z": "b9844a0745663442",
        "name": "Tách dữ liệu cảm biến",
        "func": "return [\n  { topic: 'heart_rate', payload: msg.payload.heart_rate },\n  { topic: 'spo2', payload: msg.payload.spo2 }\n];",
        "outputs": 2,
        "x": 380,
        "y": 100,
        "wires": [
            [
                "6c90cda9ab16f7cf",
                "4ecb2fb5f76174e4",
                "1590a2b45b47f88d"
            ],
            [
                "1867dfb5e4bb2a28",
                "c66a64ed41534da7",
                "05084079c92850b6"
            ]
        ]
    },
    {
        "id": "6c90cda9ab16f7cf",
        "type": "ui_chart",
        "z": "b9844a0745663442",
        "name": "Chart HR",
        "group": "6245d006e12832fa",
        "order": 1,
        "width": 8,
        "height": 4,
        "label": "Đồ thị nhịp tim",
        "chartType": "line",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "40",
        "ymax": "200",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "1867dfb5e4bb2a28",
        "type": "ui_gauge",
        "z": "b9844a0745663442",
        "name": "SpO2",
        "group": "group_sensor",
        "order": 4,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "SpO2",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "c66a64ed41534da7",
        "type": "ui_chart",
        "z": "b9844a0745663442",
        "name": "Chart SpO2",
        "group": "6245d006e12832fa",
        "order": 2,
        "width": 8,
        "height": 4,
        "label": "Đồ thị SpO2",
        "chartType": "line",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "50",
        "ymax": "120",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0000ff",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "7103e219c78d07f9",
        "type": "ui_gauge",
        "z": "b9844a0745663442",
        "name": "Nhiệt độ",
        "group": "group_sensor",
        "order": 7,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Nhiệt độ",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 620,
        "y": 400,
        "wires": []
    },
    {
        "id": "76747e5481db9721",
        "type": "ui_chart",
        "z": "b9844a0745663442",
        "name": "Chart Nhiệt độ",
        "group": "6245d006e12832fa",
        "order": 3,
        "width": 8,
        "height": 4,
        "label": "Đồ thị Nhiệt độ",
        "chartType": "line",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "30",
        "ymax": "45",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff9900"
        ],
        "outputs": 1,
        "x": 640,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "5565fc2ae127bd55",
        "type": "mqtt in",
        "z": "b9844a0745663442",
        "name": "Trạng thái LED",
        "topic": "esp32/out",
        "qos": "2",
        "datatype": "json",
        "broker": "b5140a7562818ccf",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 100,
        "y": 980,
        "wires": [
            [
                "eaab831391a88022"
            ]
        ]
    },
    {
        "id": "eaab831391a88022",
        "type": "function",
        "z": "b9844a0745663442",
        "name": "Phân tích trạng thái LED",
        "func": "return [\n  { payload: msg.payload.out1 },\n  { payload: msg.payload.out2 }\n];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 980,
        "wires": [
            [
                "aa233b709e89cd1c"
            ],
            [
                "4daaf6e441c0f44e"
            ]
        ]
    },
    {
        "id": "aa233b709e89cd1c",
        "type": "ui_led",
        "z": "b9844a0745663442",
        "order": 2,
        "group": "group_sensor",
        "width": 2,
        "height": 2,
        "label": "LED1",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#00ff00",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "LED1",
        "x": 610,
        "y": 940,
        "wires": []
    },
    {
        "id": "4daaf6e441c0f44e",
        "type": "ui_led",
        "z": "b9844a0745663442",
        "order": 5,
        "group": "group_sensor",
        "width": 2,
        "height": 2,
        "label": "LED2",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ffff00",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "LED2",
        "x": 610,
        "y": 1020,
        "wires": []
    },
    {
        "id": "376000401d4c8e80",
        "type": "mqtt in",
        "z": "b9844a0745663442",
        "name": "MQTT DS18B20",
        "topic": "esp32/ds18b20/temperature",
        "qos": "2",
        "datatype": "json",
        "broker": "hivemq_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 100,
        "y": 440,
        "wires": [
            [
                "358a851b6447704c"
            ]
        ]
    },
    {
        "id": "358a851b6447704c",
        "type": "function",
        "z": "b9844a0745663442",
        "name": "Phân tích nhiệt độ",
        "func": "return { payload: msg.payload.temperature };",
        "outputs": 1,
        "x": 370,
        "y": 440,
        "wires": [
            [
                "7103e219c78d07f9",
                "76747e5481db9721",
                "92d3dcf884534c99"
            ]
        ]
    },
    {
        "id": "be7418b61bf32235",
        "type": "ui_numeric",
        "z": "b9844a0745663442",
        "name": "Lower HR Threshold",
        "label": "Ngưỡng dưới (HR)",
        "tooltip": "",
        "group": "0cf3789f4ffbf9a2",
        "order": 13,
        "width": 4,
        "height": 2,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "format": "{{value}}",
        "min": "20",
        "max": "100",
        "step": "5",
        "className": "",
        "x": 120,
        "y": 720,
        "wires": [
            [
                "c86cb1b8cbded69a"
            ]
        ]
    },
    {
        "id": "85f6e7e813ebe93f",
        "type": "ui_numeric",
        "z": "b9844a0745663442",
        "name": "Upper HR Threshold",
        "label": "Ngưỡng trên (HR)",
        "tooltip": "",
        "group": "0cf3789f4ffbf9a2",
        "order": 6,
        "width": 4,
        "height": 2,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "format": "{{value}}",
        "min": "80",
        "max": "250",
        "step": "5",
        "className": "",
        "x": 120,
        "y": 780,
        "wires": [
            [
                "4e7b08ac717aca3b"
            ]
        ]
    },
    {
        "id": "c86cb1b8cbded69a",
        "type": "change",
        "z": "b9844a0745663442",
        "name": "Set flow.hr_lower",
        "rules": [
            {
                "t": "set",
                "p": "hr_lower",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "4e7b08ac717aca3b",
        "type": "change",
        "z": "b9844a0745663442",
        "name": "Set flow.hr_upper",
        "rules": [
            {
                "t": "set",
                "p": "hr_upper",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "4ecb2fb5f76174e4",
        "type": "function",
        "z": "b9844a0745663442",
        "name": "Check HR Thresholds",
        "func": "// Lấy giá trị HR từ msg.payload (do trước đó node “Tách dữ liệu cảm biến” đã set payload = heart_rate)\nlet hr = Number(msg.payload);\n\n// Lấy ngưỡng đã set từ flow context\nlet lower = flow.get('hr_lower') !== undefined ? flow.get('hr_lower') : 0;\nlet upper = flow.get('hr_upper') !== undefined ? flow.get('hr_upper') : 200;\n\n// So sánh: Nếu ngoài khoảng [lower, upper] → bật LED1\nlet out1 = false;\nif (hr < lower || hr > upper) {\n    out1 = true;\n}\n\nmsg.payload = { out1: out1 };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 260,
        "wires": [
            [
                "a515b248efe327bd"
            ]
        ]
    },
    {
        "id": "a515b248efe327bd",
        "type": "mqtt out",
        "z": "b9844a0745663442",
        "name": "Gửi lệnh đến ESP32",
        "topic": "esp32/client",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b5140a7562818ccf",
        "x": 920,
        "y": 280,
        "wires": []
    },
    {
        "id": "ac0b3d7c546e456b",
        "type": "ui_numeric",
        "z": "b9844a0745663442",
        "name": "Lower SpO2 Threshold",
        "label": "Ngưỡng dưới (SpO2)",
        "tooltip": "",
        "group": "0cf3789f4ffbf9a2",
        "order": 4,
        "width": 4,
        "height": 2,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "format": "{{value}}",
        "min": "50",
        "max": "100",
        "step": "5",
        "className": "",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "b2c075fb403698d2"
            ]
        ]
    },
    {
        "id": "81cd61892be86731",
        "type": "ui_numeric",
        "z": "b9844a0745663442",
        "name": "Upper SpO2 Threshold",
        "label": "Ngưỡng trên (SpO2)",
        "tooltip": "",
        "group": "0cf3789f4ffbf9a2",
        "order": 17,
        "width": 4,
        "height": 2,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "format": "{{value}}",
        "min": "50",
        "max": "100",
        "step": "5",
        "className": "",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "380ecb75f874c49e"
            ]
        ]
    },
    {
        "id": "b2c075fb403698d2",
        "type": "change",
        "z": "b9844a0745663442",
        "name": "Set flow.spo2_lower",
        "rules": [
            {
                "t": "set",
                "p": "spo2_lower",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "380ecb75f874c49e",
        "type": "change",
        "z": "b9844a0745663442",
        "name": "Set flow.spo2_upper",
        "rules": [
            {
                "t": "set",
                "p": "spo2_upper",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "05084079c92850b6",
        "type": "function",
        "z": "b9844a0745663442",
        "name": "Check SpO2 Thresholds",
        "func": "// Lấy giá trị SpO2 từ msg.payload\nlet sp = Number(msg.payload);\n\n// Lấy ngưỡng đã set từ flow context\nlet lower = flow.get('spo2_lower') !== undefined ? flow.get('spo2_lower') : 0;\nlet upper = flow.get('spo2_upper') !== undefined ? flow.get('spo2_upper') : 100;\n\n// So sánh: Nếu ngoài khoảng [lower, upper] → bật LED2\nlet out2 = false;\nif (sp < lower || sp > upper) {\n    out2 = true;\n}\n\nmsg.payload = { out2: out2 };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 320,
        "wires": [
            [
                "a515b248efe327bd"
            ]
        ]
    },
    {
        "id": "b5455b8eb9327dad",
        "type": "ui_numeric",
        "z": "b9844a0745663442",
        "name": "Lower Temp Threshold",
        "label": "Ngưỡng dưới (°C)",
        "tooltip": "",
        "group": "0cf3789f4ffbf9a2",
        "order": 2,
        "width": 4,
        "height": 2,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "format": "{{value}}",
        "min": "25",
        "max": "40",
        "step": "0.5",
        "className": "",
        "x": 120,
        "y": 840,
        "wires": [
            [
                "8451691ce783668c"
            ]
        ]
    },
    {
        "id": "6529173fef40b391",
        "type": "ui_numeric",
        "z": "b9844a0745663442",
        "name": "Upper Temp Threshold",
        "label": "Ngưỡng trên (°C)",
        "tooltip": "",
        "group": "0cf3789f4ffbf9a2",
        "order": 15,
        "width": 4,
        "height": 2,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "format": "{{value}}",
        "min": "35",
        "max": "45",
        "step": "0.5",
        "className": "",
        "x": 120,
        "y": 900,
        "wires": [
            [
                "017cdd43de7268e4"
            ]
        ]
    },
    {
        "id": "8451691ce783668c",
        "type": "change",
        "z": "b9844a0745663442",
        "name": "Set flow.temp_lower",
        "rules": [
            {
                "t": "set",
                "p": "temp_lower",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "017cdd43de7268e4",
        "type": "change",
        "z": "b9844a0745663442",
        "name": "Set flow.temp_upper",
        "rules": [
            {
                "t": "set",
                "p": "temp_upper",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "92d3dcf884534c99",
        "type": "function",
        "z": "b9844a0745663442",
        "name": "Check Temp Thresholds",
        "func": "// Lấy giá trị nhiệt độ từ msg.payload\nlet t = Number(msg.payload);\n\n// Lấy ngưỡng đã set từ flow context\nlet lower = flow.get('temp_lower') !== undefined ? flow.get('temp_lower') : 0;\nlet upper = flow.get('temp_upper') !== undefined ? flow.get('temp_upper') : 100;\n\n// So sánh: Nếu ngoài khoảng [lower, upper] → bật LED3\nlet out3 = false;\nif (t < lower || t > upper) {\n    out3 = true;\n}\n\nmsg.payload = { out3: out3 };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 540,
        "wires": [
            [
                "f9e8e507e4abb110"
            ]
        ]
    },
    {
        "id": "f9e8e507e4abb110",
        "type": "mqtt out",
        "z": "b9844a0745663442",
        "name": "Gửi lệnh đến ESP32-DS18B20",
        "topic": "esp32/ds18b20/client",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "hivemq_broker",
        "x": 950,
        "y": 540,
        "wires": []
    },
    {
        "id": "05ccbc9301d7876f",
        "type": "mqtt in",
        "z": "b9844a0745663442",
        "name": "Trạng thái LED3",
        "topic": "esp32/ds18b20/out",
        "qos": "2",
        "datatype": "json",
        "broker": "hivemq_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 100,
        "y": 1080,
        "wires": [
            [
                "76869cee68b88bbf"
            ]
        ]
    },
    {
        "id": "76869cee68b88bbf",
        "type": "function",
        "z": "b9844a0745663442",
        "name": "Phân tích trạng thái LED3",
        "func": "return { payload: msg.payload.out3 };",
        "outputs": 1,
        "x": 390,
        "y": 1080,
        "wires": [
            [
                "3f9e6e40d4a05d68"
            ]
        ]
    },
    {
        "id": "3f9e6e40d4a05d68",
        "type": "ui_led",
        "z": "b9844a0745663442",
        "order": 8,
        "group": "group_sensor",
        "width": 2,
        "height": 2,
        "label": "LED3",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#00ffff",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "LED3",
        "x": 610,
        "y": 1080,
        "wires": []
    },
    {
        "id": "1590a2b45b47f88d",
        "type": "ui_gauge",
        "z": "b9844a0745663442",
        "name": "Heart Rate",
        "group": "group_sensor",
        "order": 1,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Nhịp tim",
        "label": "bpm",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 630,
        "y": 20,
        "wires": []
    },
    {
        "id": "6d2fba1181ec957d",
        "type": "ui_template",
        "z": "b9844a0745663442",
        "group": "885f729feec57431",
        "name": "GIÁM SÁT SỨC KHỎE",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div\n    style=\"text-align: center; font-size: 28px; font-weight: bold; padding: 10px; color: #ffffff; background-color: #2196F3;\">\n    GIÁM SÁT SỨC KHỎE\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "GIÁM SÁT SỨC KHỎE",
        "x": 290,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "b5140a7562818ccf",
        "type": "mqtt-broker",
        "name": "HiveMQ Broker",
        "broker": "f8e9523a8a3b48ea957832a96e91caa0.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 15,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6245d006e12832fa",
        "type": "ui_group",
        "name": "CHART",
        "tab": "8ff4928f3ec236aa",
        "order": 3,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "group_sensor",
        "type": "ui_group",
        "name": "SENSOR",
        "tab": "8ff4928f3ec236aa",
        "order": 2,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "hivemq_broker",
        "type": "mqtt-broker",
        "name": "HiveMQ-1",
        "broker": "55b6d157392a42a09ff842f477208194.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 15,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0cf3789f4ffbf9a2",
        "type": "ui_group",
        "name": "CONTROL",
        "tab": "8ff4928f3ec236aa",
        "order": 4,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "885f729feec57431",
        "type": "ui_group",
        "name": "",
        "tab": "8ff4928f3ec236aa",
        "order": 1,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8ff4928f3ec236aa",
        "type": "ui_tab",
        "name": "BÀI TẬP LỚN - MẠNG CẢM BIẾN - NHÓM 5",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]